<% include ./partials/header %>

<div class="container">
	<h1>Rooms</h1>
	<div id="rooms-list">
		<button type="button" class="btn btn-lg btn-success custom-theme" data-toggle="modal" data-target="#createRoomModal">Create new room</button>
		<ul class="list-group <%= roomsHandler.rooms.length == 0 ? 'empty-list' : '' %>">
			<% if (roomsHandler.rooms.length == 0) { %>
				<li class="list-group-item">
					<p>There are no rooms currently, but feel free to create one!</p>
				</li>
			<% } else { %>
				<% roomsHandler.rooms.forEach(function(room){ %>
					<% if (!room.isPrivate) { %>
						<li class="list-group-item <%= room.isFull() ? 'room-full' : '' %>">
							<p><%= room.name %></p>
							<% if (!room.isFull()) { %>
								<a href="/rooms/<%= room.id %>" class="btn btn-warning custom-theme pull-right">Join</a>
							<% } else { %>
								<span class="btn btn-warning custom-theme pull-right">Join</span>
							<% } %>
							<p class="pull-right"><%= room.getNumPlayers() %>/<%= room.maxPlayers %></p>
							<p class="pull-right">
								<% if (room.time > 0) { %>
									<i class="fa fa-hourglass-half" aria-hidden="true"></i> <%= (room.time / 60) %>m
								<% } else { %>
									No timer
								<% } %>
							</p>
						</li>
					<% } %>
				<% }); %>
			<% } %>

			<!-- <li class="list-group-item">
				<p>No noobs here</p>
				<a href="/rooms" class="btn btn-warning btn-warning2 pull-right">Join</a>
				<p class="pull-right">0/2</p>
			</li>
			<li class="list-group-item room-full">
				<p>Let's sweep mines</p>
				<span class="btn btn-warning btn-warning2 pull-right">Join</span>
				<p class="pull-right">3/3</p>
			</li> -->
		</ul>
	</div>
</div>

<!-- Create new room modal -->
<div class="modal fade" id="createRoomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create new room</h4>
      </div>
      <div class="modal-body">
				<form class="form-horizontal" action="/rooms" method="POST">
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-4 control-label">Room name</label>
				    <div class="col-sm-7">
				      <input type="text" class="form-control" placeholder="Room name" name="name">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPassword3" class="col-sm-4 control-label">Number of players</label>
				    <div class="col-sm-7">
							<select class="form-control" name="maxPlayers">
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							</select>
				    </div>
				  </div>
					<div class="form-group">
				    <label class="col-sm-4 control-label">Timer</label>
				    <div class="col-sm-7">
							<select class="form-control" name="timer">
								<option value=30>30 seconds</option>
							  <option value=60>1 minute</option>
							  <option value=120 selected="selected">2 minutes</option>
							  <option value=300>5 minutes</option>
								<option value=600>10 minutes</option>
							  <option value=0>Off</option>
							</select>
				    </div>
				  </div>
					<div class="form-group">
				    <div class="col-sm-offset-4 col-sm-7">
				      <div class="checkbox">
				        <label>
				          <input id="private-checkbox" type="checkbox" name="private"> Private
				        </label>
								<p id="private-label" hidden>Private rooms will not be listed. You can share the room using its link.</p>
							</div>
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-4 col-sm-8">
				      <button type="submit" class="btn btn-primary">Create</button>
				    </div>
				  </div>
				</form>
      </div>
  </div>
</div>

<script type="text/javascript" src="/js/rooms.js"></script>

<% include ./partials/footer %>
